<section class="servicos" id="servicos">
  <h2>Nossos Serviços</h2>
  <div class="grid-servicos">
    @for (servico of servicos; track servico.nome) {
      <div class="card-servico">
        <div [innerHTML]="servico.svg"></div>
        <h3>{{ servico.nome }}</h3>
        <p>{{ servico.descricao }}</p>
        <div class="preco">R$ {{ servico.preco.toFixed(2) }}</div>
      </div>
    }
  </div>
  <div class="fazer-login">
    <p class="login-hero">Para agendar um serviço, faça login ou cadastre-se.</p>
    <button class="btn-login" (click)="abrirModalLogin()">Login / Cadastro</button>
  </div>
</section>
