<header>
  <div class="header-container">
    <a routerLink="/" class="logo">
      <svg class="icon-tesoura" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
        <circle cx="6" cy="6" r="2"/>
        <circle cx="18" cy="6" r="2"/>
        <path d="M 8 8 L 12 12 L 8 16" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M 16 8 L 12 12 L 16 16" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      <h1>Elite Barber</h1>
    </a>
    <nav>
      <a routerLink="/menu">Menu</a>
      @if (authService.isLoggedIn()) {
        <a (click)="abrirModalAgendamento()">Agendar</a>
      } @else {
        <a (click)="abrirModalLogin()"></a>
      }
      <a href="https://wa.me/5583991816152" target="_blank" rel="noopener noreferrer">WhatsApp</a>
        @if (!authService.isLoggedIn()) {
          <button class="btn-login" (click)="abrirModalLogin()">Login / Cadastro</button>
        } @else {
          <a routerLink="/painel">Painel</a>
          <button class="btn-logout" (click)="logout()">Sair</button>
        }

    </nav>
  </div>
</header>

