main {
  max-width: 1200px;
  margin: 2rem auto;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
  color: var(--dourado);
  margin: 0 1.5rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid var(--dourado);
  padding-bottom: 1rem;
}
