<main>
  <div class="container">
    <h2>Nossas Barbas</h2>
    <table class="tabela-cortes">
      <thead>
        <tr>
          <th>Imagem</th>
          <th>Descrição</th>
          <th>Preço</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <img src="assets/barba-completa.png" alt="Barba Completa" />
          </td>
          <td>Barba Completa</td>
          <td>R$ 45,00</td>
        </tr>
        <tr>
          <td>
            <img src="assets/barba-manutencao.jpg" alt="Manutenção" />
          </td>
          <td>Manutenção</td>
          <td>R$ 30,00</td>
        </tr>
        <tr>
          <td>
            <img src="assets/barba-design.jpg" alt="Design de Barba" />
          </td>
          <td>Design de Barba</td>
          <td>R$ 50,00</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>