<main>
  <div class="container">
    <h2>Nossas Luzes</h2>
    <table class="tabela-cortes">
      <thead>
        <tr>
          <th>Imagem</th>
          <th>Descrição</th>
          <th>Preço</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <img src="assets/luzes-meches.jpg" alt="Mechas" />
          </td>
          <td>Mechas</td>
          <td>R$ 120,00</td>
        </tr>
        <tr>
          <td>
            <img src="assets/luzes-tinta.jpg" alt="Tinta" />
          </td>
          <td>Tinta</td>
          <td>R$ 100,00</td>
        </tr>
        <tr>
          <td>
            <img src="assets/luzes-ombre.jpg" alt="Ombre Hair" />
          </td>
          <td>Ombre Hair</td>
          <td>R$ 150,00</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
