* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --preto: #1a1a1a;
  --branco: #f5f5f5;
  --dourado: #d4af37;
  --preto-suave: #2d2d2d;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--preto);
  color: var(--branco);
  line-height: 1.6;
}
